/* Bloque principal */
.ulta-brand {
    position: relative;
    max-width: 100%;
}

/* Título */
.ulta-brand-title {
    margin-bottom: 24px;
    text-align: left;
}

.ulta-brand-title h2 {
    line-height: 32px;
    margin: 0;
    letter-spacing: 0;
    min-height: 32px;
}

/* Swiper */
.ulta-brand-swiper {
    overflow: hidden;
}

.ulta-brand-wrapper-carrousel {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Siempre en una única fila horizontal */
}

/* Slides */
.ulta-brand-slide {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 214px;
}

/* Elemento categoría */
.ulta-brand-item {
    text-decoration: none;
    color: black;
}

/* Imagen */
.ulta-brand-image {
    width: 214px;
    height: 214px;
}

/* Nombre de la categoría */
.ulta-brand-name {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 0.36px;
    line-height: 16px;
}

/* Botones de navegación */
.ulta-brand-button {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 10;
    opacity: 1 !important;
}

/* Flechas de navegación */
.ulta-brand-arrow {
    width: 16px;
    height: 14.65px;
    padding: 12px;
}

.ulta-brand-button-prev .ulta-brand-arrow {
    transform: rotate(180deg);
}

.ulta-brand-button-prev {
    left: -20px;
}

.ulta-brand-button-next {
    right: -20px;
}

.ulta-brand-button::after {
    display: none;
}

.ulta-brand-button.swiper-button-disabled {
    display: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Paginación */
.ulta-brand-pagination {
    display: none;
}

/* RESPONSIVE */
@media (max-width: 450px) {
    .ulta-brand-wrapper {
        padding: 0 16px !important;
    }

    .ulta-brand-title h2 {
        font-size: 24px;
        line-height: 28px;
    }

    /* Ocultar botones en mobile */
    .ulta-brand-button {
        display: none !important;
    }

    /* Mostrar la paginación en mobile */
    .ulta-brand-pagination {
        display: block;
        text-align: center;
        margin-top: 16px;
    }

    /* Estilos para las bolitas de paginación */
    .ulta-brand-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: #FFF;
        border: 1px solid #000;
        opacity: 1;
        margin: 0 16px !important;
        border-radius: 50%;
        transition: background 0.3s;
    }

    /* Estilo de la bolita activa */
    .ulta-brand-pagination .swiper-pagination-bullet-active {
        background-color: #000;
    }
}
