.promotions-headband-wrapper {
    .promotions-headband-container & {
        max-width: unset;
        padding: 0;
    }

    .promotions-headband {
        background-color: var(--color-gray-50);
        height: 68px;
        display: flex;
        align-items: center;

        p {
            font-size: 12px;
            margin: 0;
            text-align: center;
        }
    }

    .promotions-headband-list {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0 auto;
        max-width: 1360px;
        padding: 0;
        width: 100%;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .promotions-headband-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 1 424px;
        max-width: 424px;
        min-width: 200px;
        padding: 0 20px;
        text-align: center;
        box-sizing: border-box;
        border-right: 1px solid var(--color-gray-300);
        text-decoration: none !important;

        &:last-child {
            border-right: none;
        }

        div {
            &:first-child {
                p {
                    font: var(--type-details-caption-1-font);
                    letter-spacing: var(--type-display-3-letter-spacing);
                    font-weight: bold;
                }
            }

            &:last-child {
                p {
                    color: var(--color-gray-700);
                    letter-spacing: 0.36px;
                }
            }
        }
    }

    @media (max-width: 900px) {
        .promotions-headband {
            height: 82px;
            box-sizing: border-box;

            .swiper-slide {
                display: flex;
                justify-content: center;
            }

            .swiper-pagination {
                position: static;
                display: flex;
                justify-content: center;
                gap: 16px;
                padding: 2px;
                margin-top: 8px;
            }

            .swiper-pagination-bullet {
                width: 8px;
                height: 8px;
                border: 0.5px solid #000;
                background: transparent;
                border-radius: 50%;
                opacity: 100;
            }

            .swiper-pagination-bullet-active {
                background: #000;
            }
        }

        .promotions-headband-list {
            display: none;
        }
    }
}
