div div.discount-headband-wrapper {
    max-width: 1130px;
}

.discount-headband {
    width: 100%;
    padding: 27px 52px;
    box-sizing: border-box;
}

.discount-headband-content {
    display: flex;
    justify-content: space-between;
}

.discount-headband-info {
    display: flex;
    gap: 52px;
}

.discount-headband p {
    margin-top: 0;
    margin-bottom: 0;
}

.discount-headband-text {
    font: var(--type-headline-1-font);
    font-weight: bold;
    letter-spacing: 0.4px;
}

.discount-headband-code {
    font: var(--type-body-1-default-font);
    color: var(--color-black-110);
    letter-spacing: 0.35px;
}

.discount-headband-content a.discount-headband-link {
    text-underline-offset: 6px;
    text-decoration: underline;
}

@media (width <=900px) {
    .discount-headband {
        padding: 16px;
    }

    .discount-headband-content {
        flex-direction: column;
        gap: 16px;
    }

    .discount-headband-info {
        flex-direction: column;
        gap: 4px;
    }
}