.custom-carousel .swiper {
    --swiper-theme-color: var(--color-black);
    --swiper-navigation-size: 43.3px;
    .swiper-button-next,
    .swiper-button-prev {
        z-index: 11;
    }

    .swiper-slide {
        width: auto;
    }

    .swiper-button-next {
        border: 1px solid var(--color-black);
        border-radius: 50%;
        padding: 0px 7px;
        background-color: var(--color-white);

        &:after {
            content: none;
        }

        &.swiper-button-disabled {
            display: none;
        }
    }

    .swiper-button-prev {
        border: 1px solid var(--color-black);
        border-radius: 50%;
        padding: 0px 7px;
        background-color: var(--color-white);

        img {
            transform: rotate(180deg);
        }

        &:after {
            content: none;
        }

        &.swiper-button-disabled {
            display: none;
        }
    }
}
