/**
 * Copyright © infinite, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

 /* stylelint-disable no-descending-specificity */

 footer {
    background-color: var(--color-white);

    picture {
        letter-spacing: unset;
        display: flex;
    }

     .block-image .label {
         display: none;
     }

    .footer > div {
        max-width: 100%;
        padding: 0;

        .section {
            &:not(:last-child) {
                padding: var(--footer-div-padding, 24px 40px 0);
                max-width: var(--desktop-width);
                margin: auto;
            }

            &.footer-mid {
                padding: var(--footer-mid-padding, 24px 40px 0);
            }
        }
    }

    .footer-top {
        margin: 0 0 clamp(2.5rem, 0.967rem + 4.259vw, 4.8rem); /* 48px - 25px */

        p {
            font-size: clamp(1.6rem, 1.333rem + 0.741vw, 2rem); /* 20px - 16px */
            line-height: 20px;
            font-weight: bold;
            color: var(--color-primary-sunset-400);
            text-align: var(--footer-top-p-text-align, left);

            em {
                font-family: Southland, sans-serif;
                font-size: clamp(3.2rem, 2.933rem + 0.741vw, 3.6rem); /* 36px - 32px */
            }
        }
    }

    .footer-mid {
        display: flex;
        flex-flow: var(--footer-mid-flex-flow, wrap);
        justify-content: space-between;
        gap: 0 10px;

        .columns-wrapper {
            order: var(--footer-columns-wrapper-order, initial);

            &:last-child {
                flex: 0 auto;
                order: 0;
                max-width: var(--columns-wrapper-last, 328px);
                overflow: hidden;
                margin: var(--column-wrapper-last-child-margin, 0);
            }

            .columns  {
                h1,h2,h3,h4,h5,h6 {
                    font: var(--type-body-1-default-font);
                    letter-spacing: .035rem;
                    color: var(--color-gray-600) ;
                    margin: var(--columns-h-margin, 0 0 16px);
                    padding: var(--columns-h-padding, 0);

                    &::after {
                        top: 26px;
                    }

                    &.accordion-heading {
                        color: var(--columns-h-color, var(--color-gray-600)) ;
                        margin: var(--columns-h-accordion-margin, 0 0 16px);
                        padding: var(--columns-h-accordion-padding, 0);
                        border-bottom: var(--columns-h-border-bottom, none);
                    }
                }

                .accordion-content {
                    margin: var(--accordion-content-margin, 0);

                    ul {
                        display: grid;
                        grid-template-columns: var(--accordion-content-ul-grid-template-columns, 1fr);
                        gap: 16px;
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        a {
                            display: block;
                            font: var(--type-details-caption-2-font);
                            letter-spacing: clamp(0rem, -0.024rem + 0.067vw, 0.036rem); /* .36px - 0 */
                            color: var(--color-black);
                            text-decoration: none;
                        }
                    }
                }
            }

            /* social red */
            .columns-2-cols {
                margin: var(--columns-2-cols-margin, 0);

                > div {
                    flex-flow: column;
                    align-items: normal;
                    gap: 0;

                    h1,h2,h3,h4,h5,h6 {
                        flex: 100%;
                        margin: 0 0 16px;
                        padding: 0;
                    }

                    .block-title-wrapper {
                        flex: 100%;
                    }

                    p {
                        display: var(--columns-2-cols-div-p-display, block);
                        margin: 0 0 16px;
                        font: var(--type-details-caption-2-font);
                        letter-spacing: .036rem;
                        color: var(--color-black);
                    }

                    > div:first-child {
                        display: flex;
                        flex-flow: wrap;
                        gap: 0 8px;
                        padding: 0 0 48px;

                        .block-image-wrapper {
                            a {
                                display: block;
                            }

                            img {
                                width: var(--col-2-cols-block-image-wrapper-img-size, 24px);
                                height: var(--col-2-cols-block-image-wrapper-img-size, 24px);
                            }
                        }
                    }

                    > div:last-child {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        gap: var(--div-last-gap, 0 16px);

                        h1,h2,h3,h4,h5,h6,.block-title-wrapper {
                            grid-column: 1 / 3;
                            grid-row: 1;
                        }

                        p {
                            grid-column: 1 / 3;
                            grid-row: 2;
                        }

                        .block-image-wrapper {
                            grid-column: var(--div-last-child-block-image-grid-column, 2);
                            grid-row: 3;
                            align-self: center;
                            width: var(--div-last-child-block-image-img-width, 122px);
                            height: var(--div-last-child-block-image-img-height, 37px);
                        }

                        .block-image-wrapper:first-of-type,
                        .block-image-wrapper:nth-child(0n+3) {
                            grid-column: 1;
                            grid-row: 3 / 5;
                            display: var(--div-last-child-block-image-display, block);
                            width: auto;
                            height: auto;
                        }

                        .block-image-wrapper:last-of-type {
                            grid-column: 2;
                            grid-row: var(--div-last-child-block-image-last-grid-row, 4);
                            align-self: start;
                            width: var(--div-last-child-block-image-img-width, 122px);
                            height: var(--div-last-child-block-image-img-height, 37px);
                        }
                    }
                }
            }
        }
    }

    .copy-right {
        padding: 16px 0;
        margin: 48px auto 0;
        border-top: 4px solid var(--color-primary-rosy-400);
        background-color: var(--color-gray-50);

        .block-copyright-wrapper {
            max-width: var(--desktop-width);
            margin: auto;
            padding: var(--footer-copy-right-padding, 0 40px 0);

            .block-copyright {
                display: flex;
                flex-flow: var(--copy-right-block-copyright-flex-flow, row);
                gap: 16px 0;
                justify-content: space-between;
                align-items: center;
            }

            .copyright-text {
                font: var(--type-details-caption-2-font);
                letter-spacing: .036rem;
                color: var(--color-black);
            }


            .copyright-links ul {
                display: flex;
                flex-flow: row;
                gap: 0 24px;
                list-style: none;
                margin: 0;
                padding: 0;

                a {
                    font: var(--type-details-caption-2-font);
                    letter-spacing: .036rem;
                    color: var(--color-black);
                    text-decoration: none;
                }
            }
        }
    }
}

@media (width <= 900px) {
    footer {
        --footer-div-padding: 24px 16px 0;
        --footer-mid-padding: 42px 16px 0;
        --footer-copy-right-padding: 0 16px 0;
        --footer-top-p-text-align: center;
        --footer-mid-flex-flow: column;
        --footer-columns-wrapper-order: 1;
        --columns-wrapper-last: 100%;
        --column-wrapper-last-child-margin: 0 auto 65px;
        --columns-h-color: var(--color-black);
        --columns-h-margin: 0 0 16px;
        --columns-h-padding: 0 0 16px;
        --columns-h-accordion-margin: 0;
        --columns-h-accordion-padding: 16px 0;
        --columns-h-border-bottom: 1px solid var(--color-gray-300);
        --accordion-content-ul-grid-template-columns: 1fr 1fr;
        --accordion-content-margin: 24px 0;
        --columns-2-cols-margin: 48px 0 0;
        --col-2-cols-block-image-wrapper-img-size: 40px;
        --columns-2-cols-div-p-display: none;
        --div-last-gap: 0 8px;
        --div-last-child-block-image-display: none;
        --div-last-child-block-image-grid-column: 1;
        --div-last-child-block-image-last-grid-row: 3;
        --div-last-child-block-image-img-width: 122px;
        --div-last-child-block-image-img-height: 37px;
        --copy-right-block-copyright-flex-flow: column;
    }
}
