@import "carousel-card.css";
@import "carousel-category-card.css";

.custom-carousel div.swiper-slide a {
    text-decoration: none;
}

@media (max-width: 900px) {
    div div.carrousel-wrapper {
        padding-right: 0;
    }

    .custom-carousel .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}
