.ulta-cintillo-descuento {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 100%;
    background-color: var(--background-color, #f6f6f6);
    flex-wrap: wrap; /* Permite que los elementos se acomoden en móviles */
}

.ulta-cintillo-descuento-text {
    font-size: 16px;
    font-weight: bold;
    color: #d40057;
    margin-right: 10px;
}

.ulta-cintillo-descuento-code {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-left: 10px;
    background-color: #fff5f8;
    padding: 5px 10px;
    border-radius: 5px;
}

.ulta-cintillo-descuento-link {
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    margin-left: 20px;
}

/* Ajustes para pantallas pequeñas */
@media (width <= 768px) {
    .ulta-cintillo-descuento {
        flex-direction: column;
        text-align: center;
        padding: 12px;
    }

    .ulta-cintillo-descuento-text, 
    .ulta-cintillo-descuento-code,
    .ulta-cintillo-descuento-link {
        margin: 5px 0;
    }
}
